/.ssh
/.CFUserTextEncoding
/.DS_Store
/.Trash
/.bash_history
/.dropbox-master
/.dropbox
/.exercism.go
/.gem
/.lesshst
/.m2
/.npm
/.oh-my-zsh
/.pry_history
/.rubies
/.subversion
/.vim
/.viminfo
/.zsh-update
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/github
/src
