[user]
  name = Iain Reddick
  email = iain.reddick@gmail.com
[color]
  ui = auto
[core]
  autocrlf = input
[alias]
  aa = add --all :/
  st = status
  co = checkout
  di = diff
  dc = diff --cached
  ci = commit
  l = "!. ~/.githelpers && pretty_git_log"
  amend = commit --amend
  context = blame
  serve = daemon --reuseaddr --base-path=. --verbose --export-all
[push]
  default = simple

